---
http_interactions:
- request:
    method: get
    uri: https://core.subsplash.com/donations/v1/donations?filter%5Borg_key%5D=K5RZW9FS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6Ijc1YTM3NDZkLTE4MmItNDM1Ny04OTg2LWUwNjBiNmM4MWJlNSIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NDI1ODMzMjIsImlhdCI6MTc0MjU3MjUxNywiaXNzIjoiaHR0cHM6Ly9jb3JlLnN1YnNwbGFzaC5jb20vdG9rZW5zIiwic3ViIjoiMWQyOTAwZTQtNjMzZS00Njc4LWFiZjctMzlmMDkyNDA4YTU5IiwiYXBwcyI6eyJNT1JUQVIiOnsicm9sZXMiOlsiN2Q0MjM1YWMtMzM2MC00YjE5LTkwOWQtZDNkMTkwYjMwY2IzIl19fSwib3JncyI6eyJLNVJaVzlGUyI6eyJyb2xlcyI6WyI3ZDQyMzVhYy0zMzYwLTRiMTktOTA5ZC1kM2QxOTBiMzBjYjMiXX19LCJyYXRlIjp7ImludCI6NjAsImxpbSI6MTAwMDAwMCwiYnVyIjoxNTAwMDAwfX0.YjhbLpuQUOi0xRnNWSYicb7-iKwvgrPuDEZlnakCrzK7QbrOdKYvn-OplxWHmxlAtGXtfA8fb5W9Hc_sjMXLUCZvGH5Q74LL8y0eV3sIl4DlNFQIQ3Y3wZ9jUM27sauuwBu1Vm5I9Oxbs16RdheNWN-aTef2Ke_fIcjjeL027OeEsSrrG-Axk6dCr3n8dl8ls58tVrCz_GDiHAR-SnSDt65ghgjgsW6nWjPplFPAxj72tyzJrq-PpFRwbXQLqgoRXmSIi7r904m3aD1fxatcAg-HHEdpl1vONRvb_vTBLcObUDeI_TJEaBULekToC4qYZfJ0NsNGerBuI06gK7de_g
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/hal+json
      resource-count:
      - '20'
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://core.subsplash.com/donations/v1/donations?filter%5Borg_key%5D=K5RZW9FS"},"first":{"href":"https://core.subsplash.com/donations/v1/donations?filter%5Borg_key%5D=K5RZW9FS\u0026page%5Bnumber%5D=1\u0026page%5Bsize%5D=20"},"next":{"href":"https://core.subsplash.com/donations/v1/donations?filter%5Borg_key%5D=K5RZW9FS\u0026page%5Bnumber%5D=2\u0026page%5Bsize%5D=20"}},"count":20,"_embedded":{"donations":[{"_links":{"self":{"href":"https://core.subsplash.com/donations/v1/donations/8b84f2ce-11ef-4c1b-ab67-7a76687b5945"}},"id":"8b84f2ce-11ef-4c1b-ab67-7a76687b5945","short_id":81690533,"org_key":"K5RZW9FS","total_amount":{"value":2078,"currency":"USD"},"total_fee":{"value":51,"currency":"USD"},"designations":[{"fund":"3de245a4-a292-45be-b5fe-33d0e348d4fd","amount":{"value":2078,"currency":"USD"},"fee":{"value":51,"currency":"USD"}}],"status":"transfer
        pending","memo":"","donor_covered_fees":true,"auth_date":"2025-03-11T18:43:02Z","frequency":"one_time","created_at":"2025-03-11T18:43:04Z","updated_at":"2025-03-11T18:43:12Z","_embedded":{"instrument":{"id":"47536055-9cdc-543f-b2bd-1c72f3b97b9a","type":"Visa"}}},{"_links":{"self":{"href":"https://core.subsplash.com/donations/v1/donations/0cf772cd-cb16-4968-9359-c6de7ff565b4"}},"id":"0cf772cd-cb16-4968-9359-c6de7ff565b4","short_id":81693573,"org_key":"K5RZW9FS","total_amount":{"value":48467,"currency":"USD"},"total_fee":{"value":0,"currency":"USD"},"designations":[{"fund":"17adf17d-256d-4566-a358-e7b307b7a4cb","amount":{"value":48467,"currency":"USD"},"fee":{"value":0,"currency":"USD"}}],"status":"batched","donor_covered_fees":false,"auth_date":"2025-02-18T00:00:00Z","frequency":"one_time","created_at":"2025-03-11T19:37:43Z","updated_at":"2025-03-11T19:37:56Z","_embedded":{"instrument":{"id":"436a86c4-0795-4e47-8076-1f87f6a0f6f7","type":"Other"},"batch":{"_links":{"self":{"href":"https://core.subsplash.com/donations/v1/batches/495f295c-d306-4f1e-8be9-e59b8d237967"}},"id":"495f295c-d306-4f1e-8be9-e59b8d237967","name":"imported
        batch: 2025-03-11 19:37:40UTC","org_key":"K5RZW9FS","state":"committed","imported":false}}},{"_links":{"self":{"href":"https://core.subsplash.com/donations/v1/donations/b7d525b2-a7df-439c-9032-25eca880b2e0"}},"id":"b7d525b2-a7df-439c-9032-25eca880b2e0","short_id":81693574,"org_key":"K5RZW9FS","total_amount":{"value":2039,"currency":"USD"},"total_fee":{"value":0,"currency":"USD"},"designations":[{"fund":"17adf17d-256d-4566-a358-e7b307b7a4cb","amount":{"value":2039,"currency":"USD"},"fee":{"value":0,"currency":"USD"}}],"status":"batched","donor_covered_fees":false,"auth_date":"2[...]
